- if devise_mapping.omniauthable?
  = link_to user_omniauth_authorize_path(:facebook), :class => 'services' do
    = image_tag "facebook_32.png", :size => "32x32",  :alt => "Facebook"
    Facebook
  = link_to user_omniauth_authorize_path(:google_oauth2), :class => 'services' do
    = image_tag "google_plus_32.png", :size => "32x32",  :alt => "Google+"
    Google+
  = link_to user_omniauth_authorize_path(:twitter), :class => 'services' do
    = image_tag "twitter_32.png", :size => "32x32",  :alt => "Twitter"
    Twitter
